.searchbox {
  position: relative;
  width: 350px;
  height: 40px;
  border-radius: 6px;
  background-color: #f9f9fb;
  overflow: hidden;
}
.searchbox input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0px 0px 0px 33px;
  border-width: 0px;
  background-color: #f9f9fb;
}
.searchbox input:focus {
  outline: none;
}
.searchbox input::placeholder {
  color: #c9c9c9;
}

.searchboxIcon {
  position: absolute;
  bottom: 14px;
  width: 12px;
  height: 12px;
  left: 13px;
}

@media only screen and (max-width: 520px) {
  .searchbox {
    width: 160px;
  }
}
