# DEX METRICS PLOT
#----------------------------------------
# dependencies
/metrics_plottter/node_modules
# production
/build
# misc
/metrics_plottter/.DS_Store
/metrics_plottter/.env.local
/metrics_plottter/.env.development.local
/metrics_plottter/.env.test.local
/metrics_plottter/.env.production.local
/metrics_plottter/.env
/metrics_plottter/yarn.lock
/metrics_plottter/package-lock.json
#----------------------------------------

# SERVICE PROVIDER
#----------------------------------------
# dependencies
/service_provider/node_modules
# misc
/service_provider/.DS_Store
/service_provider/.env.local
/service_provider/.env.development.local
/service_provider/.env.test.local
/service_provider/.env.production.local
/service_provider/.env
/service_provider/yarn.lock
/service_provider/package-lock.json
/service_provider/build
#----------------------------------------

# DEX READER
#----------------------------------------
# misc
/dex_reader/.env
/dex_reader/.env.development.local
/dex_reader/.env.test.local
/dex_reader/.env.production.local
/dex_reader/.env.local
#----------------------------------------