.stat {
  display: flex;
  flex-direction: column;
}

.statHeader {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  padding: 0px;
  margin: 5px 0px 5px 0px;
}

.value {
  padding: 0px;
  margin: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #152935;
}

.differencePositive {
  padding: 0px;
  margin: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #5ad700;
}

.differenceNegative {
  padding: 0px;
  margin: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #d72b00;
}
