.item {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  list-style-type: none;
}
.item button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border-width: 0px;
  background-color: transparent;
}

.item button:hover {
  background-color: #eeeeee;
}

.placeEnd:last-child {
  margin-top: auto;
}

.icon {
  width: 24px;
  height: 24px;
}
