body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  font-family: inter;
}

@font-face {
  font-family: "inter";
  src: local("inter"), url(./assets/fonts/Inter.ttf) format("truetype");
}

.genericIsLoading {
  background: linear-gradient(
    90deg,
    #e6e6e6 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e6e6e6 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loadingShimmer 2s infinite;
}
.dontLoads {
  background: local;
  animation: none;
}

@keyframes loadingShimmer {
  100% {
    background-position: -100% 0;
  }
}
