.notificationsContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 63px;
  left: 60px;
  padding: 10px;
  margin-left: 14px;
  width: 400px;
  height: 400px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid rgb(223, 223, 223);
  z-index: 1;
  transition: 0.35s;
  transform: translateX(-500px);
}

.notificationsContainer.NotificationsActive {
  transform: translateX(0px);
}

@media only screen and (max-width: 520px) {
  .notificationsContainer {
    width: calc(100% - 106px);
  }
}

@media only screen and (max-height: 560px) {
  .notificationsContainer {
    height: 70%;
    bottom: 5%;
  }
}
