.card {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border: 1px solid #efeff4;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px #efeff4;
  background-color: #ffffff;
  padding: 14px;
  margin: 0px 10px 4px 0px;
  border-radius: 8px;
}

.cardHeader {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  padding: 0px;
  margin: 5px 0px 5px 0px;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
    height: auto;
  }
}
