/* .chart {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
  width: 100%;
} */
/* 
.selectorsContainer {
  display: flex;
  flex-direction: column;
} */
