.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 89px 50px 0px 115px;
    background-color: #f9f9fb;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  @media only screen and (max-width: 600px) {
    .main {
      padding: 89px 10px 0px 73px;
    }
  }
  
  .main::-webkit-scrollbar-track {
    margin-top: 63px;
  }