.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.header {
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  line-height: 18.15px;
  margin: 0px 0px 10px 0px;
  color: #333335;
}
