.sidebar {
  position: fixed;
  left: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 64px;
  background-color: #ffffff;
  border-width: 0px 1px 0px 0px;
  border-style:solid;
  border-color: rgb(228, 228, 228);
  z-index: 1;
}

.top{
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: center;
}

.center{
    flex: 15;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.bottom{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
