
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 89px 50px 0px 115px;
    background-color: #F9F9FB;
    overflow-y: scroll;
}